html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}







body { 




}

# ball {
text-align: center;
right: 500px;




 }
 
 h1 {
	
	color: white;
	background-color: #401a00;
	text-align: center;
 
 
 
 
 }
 
 h2 { 
 
	color:#401a00;
	text-align: center;
 
 
 
 }
 
 
 img {
	
	left: 300px;
	
	
	}
 
button {
	position: relative;
	width:350px;
	height:350px;
	top: 30px;
	left: 500px;
	background:url(8.png) no-repeat;




